/*!
Theme Name: Dahlia Dowler
Theme URI: http://underscores.me/
Author: Rami Abdelal
Author URI: https://rami-abdelal.co.uk
Description: Curves and gradients make for a warm and modern look inspired by Google\'s Material Design.
Version: 1.0.4
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: dahlia-dowler
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Dahlia Dowler is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Animation
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Widgets
# Content
	## Footer
	## Posts and pages
		### Home
		### FAQ
		### About
		### Contact
		### Book A Session
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	overflow-x: hidden;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
	overflow-x: hidden;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/

.animated, input, select, textarea, .navigation.post-navigation a, a.comment-reply-link, a#cancel-comment-reply-link {
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98);
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

@font-face {
	font-family: 'GothamRounded-Bold';
	src: url('GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-Bold.otf')  format('opentype'),
		   url('GothamRounded-Bold.woff') format('woff'), url('GothamRounded-Bold.ttf')  format('truetype'), url('GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'GothamRounded-BoldItalic';
	src: url('GothamRounded-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-BoldItalic.otf')  format('opentype'),
		   url('GothamRounded-BoldItalic.woff') format('woff'), url('GothamRounded-BoldItalic.ttf')  format('truetype'), url('GothamRounded-BoldItalic.svg#GothamRounded-BoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'GothamRounded-Book';
	src: url('GothamRounded-Book.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-Book.otf')  format('opentype'),
		   url('GothamRounded-Book.woff') format('woff'), url('GothamRounded-Book.ttf')  format('truetype'), url('GothamRounded-Book.svg#GothamRounded-Book') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'GothamRounded-BookItalic';
	src: url('GothamRounded-BookItalic.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-BookItalic.otf')  format('opentype'),
		   url('GothamRounded-BookItalic.woff') format('woff'), url('GothamRounded-BookItalic.ttf')  format('truetype'), url('GothamRounded-BookItalic.svg#GothamRounded-BookItalic') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'GothamRounded-Light';
	src: url('GothamRounded-Light.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-Light.otf')  format('opentype'),
		   url('GothamRounded-Light.woff') format('woff'), url('GothamRounded-Light.ttf')  format('truetype'), url('GothamRounded-Light.svg#GothamRounded-Light') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'GothamRounded-LightItalic';
	src: url('GothamRounded-LightItalic.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-LightItalic.otf')  format('opentype'),
		   url('GothamRounded-LightItalic.woff') format('woff'), url('GothamRounded-LightItalic.ttf')  format('truetype'), url('GothamRounded-LightItalic.svg#GothamRounded-LightItalic') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'GothamRounded-Medium';
	src: url('GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-Medium.otf')  format('opentype'),
		   url('GothamRounded-Medium.woff') format('woff'), url('GothamRounded-Medium.ttf')  format('truetype'), url('GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'GothamRounded-MediumItalic';
	src: url('GothamRounded-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('GothamRounded-MediumItalic.otf')  format('opentype'),
		   url('GothamRounded-MediumItalic.woff') format('woff'), url('GothamRounded-MediumItalic.ttf')  format('truetype'), url('GothamRounded-MediumItalic.svg#GothamRounded-MediumItalic') format('svg');
	font-weight: normal;
	font-style: normal;
  }

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: #6f6f6f;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'GothamRounded-Light', sans-serif;
	margin-top: 0;
	line-height: 1.2;
}

.subtitle {
	font-family: 'GothamRounded-Medium', 'sans-serif';
}

p {
	margin-bottom: 1.5em;
	font-family: 'GothamRounded-Book', sans-serif;
	font-size: 1.1em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.book-a-session-low-button, a.book-a-session-low-button {
	color: #ffffff;
	text-decoration: none;
	font-size: 1em;
	font-family: 'GothamRounded-Book', sans-serif;
	padding: 0.75em 1.5em;
	border-radius: 4em;
	box-shadow: 0px 3px 5px rgba(0,0,0,.15);
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}

a.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.book-a-session-low-button, a.book-a-session-low-button:hover {
	transform: scale(1.15);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #6f6f6f;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid #dedede;
	padding: 0.75em 0;
	font-family: 'GothamRounded-Book', sans-serif;
	font-size: 1.2em;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
	outline: none;
}

select {
	
}

textarea {
	width: 100%;
	height: 100px;
}

label {
	font-size: 0.85em;
	margin-bottom: 17.5px;
	margin-top: 17.5px;
}

label.long {
	width: 100%;
}

label:not(.textarea):not(.long) {
	padding-right: 17.5px;
	width: 50%;
}

label:nth-child(even):not(.textarea):not(.long) {
	padding-left: 17.5px;
	padding-right: 0;
}

div.wpcf7 .wpcf7-form > p {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	margin: 0;
}

.bar.background-gradient input[type="text"],
.bar.background-gradient input[type="email"],
.bar.background-gradient input[type="url"],
.bar.background-gradient input[type="password"],
.bar.background-gradient input[type="search"],
.bar.background-gradient input[type="number"],
.bar.background-gradient input[type="tel"],
.bar.background-gradient input[type="range"],
.bar.background-gradient input[type="date"],
.bar.background-gradient input[type="month"],
.bar.background-gradient input[type="week"],
.bar.background-gradient input[type="time"],
.bar.background-gradient input[type="datetime"],
.bar.background-gradient input[type="datetime-local"],
.bar.background-gradient input[type="color"],
.bar.background-gradient textarea {
	color: rgba(255,255,255,.66);
	border-bottom: 3px solid rgba(255,255,255,.33);
}

.bar.background-gradient input[type="text"]:focus,
.bar.background-gradient input[type="email"]:focus,
.bar.background-gradient input[type="url"]:focus,
.bar.background-gradient input[type="password"]:focus,
.bar.background-gradient input[type="search"]:focus,
.bar.background-gradient input[type="number"]:focus,
.bar.background-gradient input[type="tel"]:focus,
.bar.background-gradient input[type="range"]:focus,
.bar.background-gradient input[type="date"]:focus,
.bar.background-gradient input[type="month"]:focus,
.bar.background-gradient input[type="week"]:focus,
.bar.background-gradient input[type="time"]:focus,
.bar.background-gradient input[type="datetime"]:focus,
.bar.background-gradient input[type="datetime-local"]:focus,
.bar.background-gradient input[type="color"]:focus,
.bar.background-gradient textarea:focus {
	color: rgba(255,255,255,.85);
	border-bottom: 3px solid rgba(255,255,255,.66);
	outline: none;
}

.bar.background-gradient input[type="submit"] {
	margin-top: 17.5px;
}

.bar.background-gradient input[type="submit"] {
	color: #1f172d !important;
	background: #ffffff;
}

.background-gradient a:not(.button):not(.scrim) {
	color: #ffffff !important;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

@media screen and (max-width: 950px) {
	.site-branding {
		display: none;
	}	
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

.site-content a:not(.button):not(.scrim) {
	text-decoration: none;
	font-family: 'GothamRounded-Medium', sans-serif;
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98);
	color: #1f172d;
	display: inline-flex;
}

.site-content a:not(.button):not(.scrim).book-a-session-animated {
	font-family: 'GothamRounded-Book', sans-serif;
}

.site-content a:not(.button):not(.scrim):not(.book-a-session-animated):not(.dahlia-dowler-latest-posts-single-post):hover {
	transform: scale(1.15);
}

a:focus {
	outline: none;
}

a:hover, a:active {
	outline: 0;
}

a.button,
input[type="submit"],
.navigation.post-navigation a,
a.comment-reply-link,
a#cancel-comment-reply-link {
	color: #ffffff;
	text-decoration: none;
	font-size: 1em;
	font-family: 'GothamRounded-Medium', sans-serif;
	padding: 0.85em 1.4em;
	border-radius: 4em;
	box-shadow: 0px 3px 5px rgba(0,0,0,.15);
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	cursor: pointer;
}

a.button.light-button {
	color: #1f172d;
	background-color: #f4f4f4;
}

a.button.light-button.low-button,
.navigation.post-navigation a,
a#cancel-comment-reply-link, .book-a-session-low-button, a.book-a-session-low-button {
	color: rgba(0,0,0,.5);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.75em;
	padding: 1.2em 1.5em;
	font-family: 'GothamRounded-Medium', sans-serif;
	background-color: #f4f4f4;
}

.bar a.button {
	padding: 0.75em 1.5em;
}

a.button:hover,
input[type="submit"]:hover,
.navigation.post-navigation a:hover,
a.comment-reply-link:hover,
a#cancel-comment-reply-link:hover,
.book-a-session-low-button:hover,
a.book-a-session-low-button:hover {
	transform: scale(1.15);
	box-shadow: 0px 3px 15px rgba(0,0,0,.5);
}

a.button.light-button:hover,
a#cancel-comment-reply-link:hover,
.book-a-session-low-button:hover,
a.book-a-session-low-button:hover {
	color: #f4f4f4;
	background-color: #1f172d;
}

.background-gradient,
input[type="submit"],
a.comment-reply-link, .book-a-session a.book-a-session-button:not(.book-a-session-tab-button):not(.book-a-session-dark-button):not(.book-a-session-low-button) {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0035a0+0,66009d+50,fbb03b+100 */
	background: rgb(0,53,160); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(0,53,160,1) 0%, rgba(102,0,157,1) 50%, rgba(251,176,59,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,53,160,1) 0%,rgba(102,0,157,1) 50%,rgba(251,176,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,53,160,1) 0%,rgba(102,0,157,1) 50%,rgba(251,176,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0035a0', endColorstr='#fbb03b',GradientType=1 ); /* IE6-9 */
	color: #ffffff !important;
}

.text-gradient {
	display: inline-block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0035a0+0,66009d+50,fbb03b+100 */
	background: rgb(0,53,160); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(0,53,160,1) 0%, rgba(102,0,157,1) 50%, rgba(251,176,59,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,53,160,1) 0%,rgba(102,0,157,1) 50%,rgba(251,176,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,53,160,1) 0%,rgba(102,0,157,1) 50%,rgba(251,176,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0035a0', endColorstr='#fbb03b',GradientType=1 ); /* IE6-9 */
	color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
	display: block;
	width: 100%;
	position: relative;
	z-index: 1;
}

.main-navigation.curveb::before {
	transform: scale(20) translateY(-48.6%);
}

#mobile-menu-container {
	display: none;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: 99999;
	display: flex;
	flex-direction: column;
	background-color: #f4f4f4;
	border-radius: 15px;
	transform: scale( 0.5 ) translateX( -108px ) translateY( -38px );
	transform-origin: top center;
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98);
	width: 200px;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	opacity: 1;
	visibility: visible;
	transform: scale( 1 ) translateX( -50px ) translateY( 0px );
}

.main-navigation ul ul a {
	padding: 0.75em 1em;
	min-width: 190px;
	width: 100%;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	opacity: 1;
	visibility: visible;
	transform: scale( 1 ) translateX( -50px ) translateY( 0px );
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a:not(.logo-link) {
    display: block;
    text-decoration: none;
	padding: 1em 1.5em;
	border-radius: 4em;
	font-size: 0.75em;
	font-family: 'GothamRounded-Medium', sans-serif;
	color: #6f6f6f;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98);
	text-align: center;
	display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: center;
	line-height: 1.2;
}

.main-navigation.curveb.translucent li a {
	color: #424242;
}

.main-navigation .menu-menu-left-container > ul#menu-menu-left > li a {
	padding: 1em;
}

.main-navigation li a:hover {
	background-color: rgba(0,0,0,.1);
	transform: scale(1.15);
}

.main-navigation.curveb.translucent li a:hover {
	background-color: rgba(0,0,0,.5);
	color: #ffffff;
	transform: scale(1.15);
}

#menu-item-561 {
	min-width: 152px;
	text-align: center;
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.nav-links {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: right;
	width: 50%;
}

.main-navigation .logo {
	position: relative;
}

.main-navigation .logo a.custom-logo-link img {
    width: auto;
    height: 125px;
    margin-top: 1.4em;
    margin-left: 1em;
    margin-right: 1em;
}

.main-navigation .logo > a:hover {
	transform: scale(1.05);
}

.menu-menu-left-container {
	position: absolute;
	left: 0;
	top: 0;
	transform: translate( -100%, 92.5px );
	display: flex;
	flex-direction: row;
	width: auto;
}

.menu-menu-right-container {
	position: absolute;
	right: 0;
	top: 0;
	transform: translate( 100%, 92.5px );
}

.menu-menu-left-container ul,
.menu-menu-right-container ul {

	display: flex;
    flex-direction: row;

}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-start-start {
	justify-content: flex-start;
	align-items: flex-start;
}

.flex-start-center {
	justify-content: flex-start;
	align-items: center;
}

.flex-start-end {
	justify-content: flex-start;
	align-items: flex-end;
}

.flex-center-start {
	justify-content: center;
	align-items: flex-start;
}

.flex-center-center {
	justify-content: center;
	align-items: center;
}

.flex-center-end {
	justify-content: center;
	align-items: flex-end;
}

.flex-end-start {
	justify-content: flex-end;
	align-items: flex-start;
}

.flex-end-center {
	justify-content: flex-end;
	align-items: center;
}

.flex-end-end {
	justify-content: flex-end;
	align-items: flex-end;
}

.flex-space-between-start {
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
}

.flex-space-between-center {
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.flex-space-between-space-between {
	justify-content: space-between;
	align-content: space-between;
}

.flex-space-between-end {
	justify-content: space-between;
	align-items: flex-end;
	align-content: flex-end;
}

.flex-height-stretch > * {
	height: auto;
}

.flex-height-stretch.flex-row {
	align-items: stretch;
}

.flex-height-stretch.flex-column {
	justify-items : stretch;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

body {
	background-color: #dedede;
	font-family: 'GothamRounded-Book', sans-serif;
}

.full, .book-a-session-login-register.book-a-session-card {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.book-a-session-login-register.book-a-session-card {
	margin-bottom: 35px;
	margin-top: 35px;
}
.narrow {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
}

.slim {
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
}

.padding {
	padding: 35px;
}

.padding > *:first-child {
	margin-top: 0;
}

.curve {
    position: relative;
    height: 1000px;
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 100%;
    transform: scale(5) translateY(-50%);
    background-image: inherit;
    background-size: 52%;
    background-position: bottom -100px center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.curve .inner-curve {
	transform: scale(0.2);
}

.curve {
    position: relative;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 100%;
    transform: scale(20) translateY(-42%);
    background-image: inherit;
    background-size: 52%;
    background-position: bottom -25px center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.curve .inner-curve {
	transform: scale(0.05) translateX(-750%) translateY(150px);
}

.entry-header .curve .scrim {
	height: 25px !important;
}

.curvea {
	position: relative;
	background-size: 0;
}

.curvea::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    top: auto;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    transform: scale(20) translateY(17.5px);
    transform-origin: bottom center;
    background-image: inherit;
    background-size: 53%;
    background-position: bottom -22px center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 100%;
    z-index: 0;
}

.curvea > * {
	z-index: 1;
	position: relative;
}

.curveb {
	position: relative;
	background-size: 0;
}

.curveb::before {
	content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    transform: scale(20) translateY(-43%);
    background-image: inherit;
    background-size: 52%;
    background-position: bottom -41px center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 100%;
}

.curveb.translucent::before {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+50 */
	background: -moz-radial-gradient(center, circle cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, circle cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(circle at bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 40%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	transform: scale(20) translateY(-48.5%);
}

.title.curveb::before {
    transform: scale(20) translateY(-49.7%);
    background-color: #f1f1f1;
	box-shadow: 0px 0.25px 0.25px rgba(0,0,0, 0.005);
}

.curveb.curveb-box-shadow::before {
	box-shadow: 0px 1px 1px rgba(0,0,0, 0.035);
}

.title h1 {
	font-family: 'GothamRounded-Light', sans-serif;
	margin-bottom: 35px;
	margin-top: 60px;
}

.z0 {
	z-index: 0;
}

.z1 {
	z-index: 1;
}

.z2 {
	z-index: 2;
}

.z3 {
	z-index: 3;
}

.z4 {
	z-index: 4;
}

.z5 {
	z-index: 5;
}

.z6 {
	z-index: 6;
}

.z7 {
	z-index: 7;
}

.z8 {
	z-index: 8;
}

.z9 {
	z-index: 9;
}

.curveb.z0::before {
	z-index: 0;
}

.curveb.z1::before {
	z-index: -1;
}

.curveb.z2::before {
	z-index: -2;
}

.curveb.z3::before {
	z-index: -3;
}

.curveb.z4::before {
	z-index: -4;
}

.curveb.z5::before {
	z-index: -5;
}

.curveb.z6::before {
	z-index: -6;
}

.curveb.z7::before {
	z-index: -7;
}

.curveb.z8::before {
	z-index: -8;
}

.curveb.z9::before {
	z-index: -9;
}

.scrim {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+2,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 2%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 2%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 2%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */    
    height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.bar .full.padding {
	padding: 17.5px 35px;
}

.bar.bar-large .full.padding {
	padding: 70px 35px;
}

.bar p {
	margin: 0;
}

.bar h2 {
	width: 100%;
	font-family: 'GothamRounded-Light', sans-serif;
}

@media screen and (max-width: 485px) {

	.slim {
		width: 100%;
		padding: 0 17.5px;
	}

}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

.site-footer {
	width: 100%;
	color: #ffffff;
	background-color: #1f172d;
	overflow: hidden;
}

.site-footer a {
	color: rgba(255,255,255,.66);
	font-family: 'GothamRounded-Medium', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98);
}

.site-footer .full div {
	width: calc( 100% / 3 );
}

.site-footer .site-info {
	width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,.66);
	margin-top: 35px;
	font-family: 'GothamRounded-Light', sans-serif;
	opacity: .4;
}

.site-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-footer ul li.menu-item a {
	display: inline-block;
	padding: 0.75em 1.25em;
	margin-left: -1em;
	margin-right: -1em;
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98);
	font-family: 'GothamRounded-Book', sans-serif;
	border-radius: 4em;
	letter-spacing: 2px;
	color: rgba(255,255,255,.66);
	font-size: 0.9em;
}

.site-footer ul li.menu-item a:hover {
	color: rgba(249,183,0,1);
	background-color: rgba(255,255,255,.1);
	transform: scale(1.25);
}

.menu-footer-centre-menu-sessions-container {
	text-align: center;
}

.menu-footer-right-menu-container {
	text-align: right;
}

.menu-footer-right-menu-container ul a {
	text-align: right;
}

.menu-footer-left-menu-explore-container::before {
	content: 'Explore';
	display: block;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.5em;
	text-align: left;
	font-family: 'GothamRounded-Bold', sans-serif;
	margin-bottom: 1em;
	margin-top: 1em;
}

.menu-footer-centre-menu-sessions-container::before {
	content: 'Sessions';
	display: block;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.5em;
	text-align: center;
	font-family: 'GothamRounded-Bold', sans-serif;
	margin-bottom: 1em;
	margin-top: 1em;
}

.menu-footer-right-menu-container::before {
	content: 'Company';
	display: block;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.5em;
	text-align: right;
	font-family: 'GothamRounded-Bold', sans-serif;
	margin-bottom: 1em;
	margin-top: 1em;
}

.site-footer .curveb {
	padding-top: 20px;
}

.site-footer .curveb::before {
	transform: scale(20) translateY(-45.75%);
	background-color: rgba(255,255,255,0.05);
}

.site-footer .curveb + .flex-row {
	margin-top: 35px;
}

.site-footer img {
	max-height: 200px;
    height: auto;
    width: auto;
    margin-top: 45px;
    margin-bottom: 60px;
}

@media screen and (max-width: 950px) {

	.site-footer {
		font-size: 0.9em;
	}

	.site-footer img {
		max-height: 160px;
		padding-left: 35px;
		padding-right: 35px;
	}

	.site-footer .curveb::before {
		transform: scale(20) translateY(-46.5%);
	}

}

@media screen and (max-width: 768px) {

	.site-footer {
		font-size: 0.8em;
	}

}

@media screen and (max-width: 600px) {

	.site-footer .full div {
		width: 100%;
	}

	.menu-footer-left-menu-explore-container::before,
	.menu-footer-centre-menu-sessions-container::before,
	.menu-footer-right-menu-container::before {
		text-align: center;
	}

	.site-footer ul li.menu-item a {
		width: 100%;
		text-align: center;
		font-size: 1.2em;
		margin: 0;
	}

	.site-footer ul li.menu-item a:hover, .site-footer ul li.menu-item a:focus, .site-footer ul li.menu-item a:active {
		transform: scale(1.075);
	}

	.site-footer .curveb + .flex-row {
		margin-top: 0;
	}

	.site-footer .curveb {
		padding-top: 0;
	}

	.site-footer .curveb::before {
		transform: scale(20) translateY(-47.4%);
	}

}

@media screen and (max-width: 375px) {

	.site-footer .curveb::before {
		transform: scale(20) translateY(-48%);
	}

}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.dahlia-dowler-latest-posts-container a {
	text-decoration: none;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 15px 0 0 0;
}

.dahlia-dowler-latest-posts-container a:nth-child(2n+2) {
	border-radius: 0;
}

.dahlia-dowler-latest-posts-container a:nth-child(3n+3) {
	border-radius: 0 15px 0 0;
}

.dahlia-dowler-latest-posts-container a .scrim {
	justify-content: flex-start;
}

.dahlia-dowler-latest-posts-container a:nth-child(2n+2) .scrim {
	justify-content: center;
}

.dahlia-dowler-latest-posts-container a:nth-child(3n+3) .scrim {
	justify-content: flex-end;
}

.dahlia-dowler-latest-posts-container h6 {
	margin: 0;
	font-size: 1.2em;
	font-family: 'GothamRounded-Light', sans-serif;
	color: #ffffff;
}

a .scrim {
	position: relative;
	z-index: 1;
}

a .scrim::before {
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0035a0+0,66009d+50,fbb03b+100 */
	background: rgb(0,53,160); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(0,53,160,1) 0%, rgba(102,0,157,1) 50%, rgba(251,176,59,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,53,160,1) 0%,rgba(102,0,157,1) 50%,rgba(251,176,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,53,160,1) 0%,rgba(102,0,157,1) 50%,rgba(251,176,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0035a0', endColorstr='#fbb03b',GradientType=1 ); /* IE6-9 */
	opacity: 0;
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98);
	z-index: -1;
}

a:hover .scrim::before {
	opacity: .5;
	border-radius: 0;
}

.dahlia-dowler-latest-posts-container a:hover .scrim::before {
	border-radius: 15px 0 0 0;
}

.dahlia-dowler-latest-posts-container a:hover:nth-child(2n+2) .scrim::before {
	border-radius: 0;
}

.dahlia-dowler-latest-posts-container a:hover:nth-child(3n+3) .scrim::before {
	border-radius: 0 4px 0 0;
}

.card, .comment, #respond, .book-a-session-login-register.book-a-session-card, .book-a-session-card.book-a-session-card-large, .book-a-session-modal-login-register .book-a-session-modal-inner-login-register {
	background-color: #ffffff;
	border-bottom: 65px solid #f1f1f1;
	border-radius: 15px;
}

.book-a-session-card.book-a-session-service {
	border-bottom: 0;
}

.comment ol.children {
	background-color: #f1f1f1;
	margin: 0;
	padding: 50px 50px 35px 50px;
	margin-bottom: -65px;
	border-radius: 0 0 15px 15px;
}

.reply {
	margin-bottom: -78.5px;
    z-index: 2;
    position: relative;
}

.card.padding {
	padding-bottom: 0;
}

.box-shadow, .comment, #respond {
	box-shadow: 0px 3px 5px rgba(0,0,0,.15);
}

.entry-header .curve .scrim {
    color: #ffffff;
    height: 100px;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
}

.entry-header .curve .scrim .inner-curve {
	display: flex;
	flex-direction: column;
    justify-content: flex-end;
	align-content: flex-end;
	width: 400%;
}

.flex-column.flex-start-end.scrim {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

.scrim h2 {
	margin: 0;
}

.entry-header h1 {
	font-family: 'GothamRounded-Light', sans-serif;
}

.entry-meta.curveb {
	margin-top: 0;
    padding-top: 320px;
}

.entry-meta.curveb::before {
	transform: scale(20) translateY(-44.5%);
	background-color: #f1f1f1;
}

.entry-header.has-meta + .entry-content-single {
	margin-top: -450px;
	padding-top: 550px;
}

.entry-content-single {
	background-color: #ffffff;
}

.entry-content-single + .entry-footer {
	padding-top: 335px;
}

.entry-footer.curveb::before {
	background-color: #f1f1f1;
	transform: scale(20) translateY(-42.2%);
}

.entry-footer span {
	text-align: center;
}

.navigation.post-navigation {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 70px 35px 0 35px;
}

#respond {
	padding: 50px 50px 0 50px;
	margin-top: 35px;
	position: relative;
}

#respond p.comment-form-comment {
	margin-bottom: 0;
}

#respond .form-submit {
	transform: translateY(50%);
	margin-bottom: 0;
	margin-top: 0;
	width: auto;
    display: inline-block;
}

.not-you-logout {
	position: absolute;
	bottom: 0;
	right: 50px;
	transform: translateY(50%);
}

a.button.light-button.not-you-logout:hover {
	transform: scale(1.15) translateY(50%);
}

#reply-title {
	position: absolute;
    right: 50px;
    top: 50px;
	margin: 0;
}

#comments.padding {
	padding-top: 0;
}

.comment #respond {
	margin: 100px 0 -65px 0;
	position: relative;
	z-index: 1;
	background-color: #ffffff;
}

.comment #respond::before {
	position: absolute;
    background-color: #f1f1f1;
    content: '';
    z-index: -1;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
}

.comment #respond #commentform {
    background-color: #ffffff;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.post-multiple.card:first-of-type {
	margin-top: 60px;
}

.entry-content-multiple .post-preview {
	width: 65%;
	overflow: hidden;
	height: 200px;
	border-radius: 0 0 0 15px;
}

.entry-content-multiple .entry-meta {
	background-color: #f4f4f4;
	position: relative;
	width: 35%;
	font-size: 0.8em;
	border-radius: 0 0 15px 0;
}

.entry-content-multiple .entry-meta a.button {
	height: 125px;
	width: 125px;
	border-radius: 100%;
	position: absolute;
	top: -62.5px;
	right: calc( 50% - 62.5px );
	left: calc( 50% - 62.5px );
	bottom: auto;
	z-index: 1;
	font-size: 1.75em;
}

.entry-content-multiple .entry-meta .posted-on {
	color: rgba(0,0,0,.5);
	width: 50%;
	padding-right: 5px;
}

.entry-content-multiple .entry-meta .posted-on a {
	display: inline-block;
	text-decoration: none;
	font-family: 'GothamRounded-Medium', sans-serif;
}

.entry-content-multiple .entry-meta .byline {
	color: rgba(0,0,0,.5);
	text-transform: capitalize;
	width: 50%;
	padding-left: 5px;
	text-align: right;
}

.entry-content-multiple .entry-meta .author a {
	font-family: 'GothamRounded-Medium', sans-serif;
	text-decoration: none;
	display: block;
}

.entry-content-multiple .entry-meta .cat-links {
    color: rgba(0,0,0,.5);
    text-transform: capitalize;
    width: calc( 100% + 2em );
    padding: 1em;
    margin: -1em -1em 0 -1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entry-content-multiple .entry-meta .cat-links a {
	text-decoration: none;
	font-family: 'GothamRounded-Medium', sans-serif;
}

.entry-content-multiple .entry-meta .prefix {
	display: block;
}

.entry-content-multiple .entry-meta a:not(.button) {
	opacity: 0.85;
}

.entry-content-multiple .entry-meta a:not(.button):hover {
	opacity: 1;
}

.post-preview h1,
.post-preview h2,
.post-preview h3,
.post-preview h4,
.post-preview h5,
.post-preview h6,
.post-preview header {
	display: none;
}

.post-preview {
	position: relative;
}

.post-preview::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 75px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.post-preview > *:first-child {
	margin-top: 0 !important;
}

.post-preview p {
	margin-top: 0;
}

.post-multiple.card {
	border-bottom: none;
	margin-bottom: 35px;
}

.post-image {
	border-radius: 15px 15px 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
}

.post-image a.scrim h2 {
	font-family: 'GothamRounded-Light', sans-serif;
	color: #ffffff;
	font-size: 1.85em;
}

.post-image a.scrim {
	text-decoration: none;
	padding-right: calc( 35% - 35px );
}

.curveb .archive-description {
	margin-top: 35px;
	margin-bottom: 35px;
	color: #f4f4f4;
}

.archive-description-container.curveb::before {
	transform: scale(20) translateY(-50%);
	background-color: #4e4e4e;
	color: #f4f4f4;
}

@media screen and (max-width: 950px) {

	.post-multiple.card:first-of-type {
		margin-top: 35px;
	}
	
	.entry-content-multiple .entry-meta a.button {
		height: 100px;
		width: 100px;
		border-radius: 100%;
		position: absolute;
		top: -50px;
		right: calc( 50% - 50px );
		left: calc( 50% - 50px );
		font-size: 1.5em;
	}

}

@media screen and (max-width: 768px) {

	.post-multiple.card:first-of-type {
		margin-top: 17.5px;
	}

	.post-multiple.card {
		margin-bottom: 17.5px;
	}

	.entry-content-multiple.flex-row.flex-height-stretch {
		flex-direction: column-reverse;
	}

	.site-content .entry-meta a:not(.button):not(.scrim) {
		display: inline;
	}

	.entry-content-multiple .entry-meta.flex-wrap {
		width: 100%;
		flex-wrap: nowrap;
		padding-right: calc( 80px + 17.5px ); /* Width of READ button plus padding */
		border-radius: 0;
	}

	.entry-content-multiple .post-preview {
		width: 100%;
		border-radius: 0 0 15px 15px;
	}

	.entry-content-multiple .entry-meta a.button {
		left: auto;
		right: 17.5px;
		height: 80px;
		width: 80px;
		top: -40px;
		font-size: 1.3em;
	}

	.entry-content-multiple .entry-meta .cat-links {
		width: 50%;
		padding: 0 17.5px;
	}

	.entry-content-multiple .entry-meta .posted-on {
		width: 25%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.entry-content-multiple .entry-meta .byline {
		width: 25%;
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	@media screen and (max-width: 500px) {

		.entry-content-multiple .entry-meta a.button {
			top: -40px;
		}

		.entry-content-multiple .entry-meta .cat-links {
			width: calc( 100% - 80px );
			padding: 0 17.5px 0 0;
			margin: 0 80px 17.5px 0;
		}

		.entry-content-multiple .entry-meta.flex-wrap {
			flex-wrap: wrap;
			padding-right: 17.5px;
		}

		.entry-content-multiple .entry-meta .posted-on {
			width: 50%;
		}

		.entry-content-multiple .entry-meta .byline {
			width: 50%;
		}	
		
		.entry-content-multiple .post-preview {
			height: 300px;
		}

	}

}

/*--------------------------------------------------------------
### Home
--------------------------------------------------------------*/

.home-hero.curve {
    transform: scale(20) translateY(-50%);
    background-image: inherit;
    background-size: 52%;
    background-position: bottom -160px center;
}

.home-hero .inner-curve {
	transform:scale(0.2) translate(0, 380px)
}

.home-hero {
	padding-top: 100px;
}

.home-hero h1 {
	text-align: center;
	font-size: 85px;
	color: #ffffff;
	text-shadow: 0px 3px 10px rgba(0,0,0,.4);
	margin-bottom: .3em;
	margin-top: 0.5em;
	font-family: 'GothamRounded-Bold', sans-serif;
}

.home-intro {
    padding-top: 175px;
    margin-bottom: 160px;
}

.home-intro.curveb::before {
	transform: scale(20) translateY(-37.5%);
}

.home-intro.curvea::after {
	transform: scale(20) translateY(4.5px);
}

.home-intro h2 {
	text-align: center;
	line-height: 1.2;
	font-size: 40px;
	margin-top: 2em;
	margin-bottom: .5em;
	font-family: 'GothamRounded-Bold', sans-serif;
}

@media screen and (max-width: 950px) {

	.home-hero h1 {
		font-size: 75px;
		padding: 0 35px;
	}

	.home-hero.curveb::before {
		background-size: 25%;
		background-position: bottom -8px center;
	}

	.home-intro h2 {
		font-size: 35px;
	}

	.home-intro .narrow {
		padding: 17.5px 35px 35px 35px;
	}

	.home-intro.curvea::after {
		transform: scale(20) translateY(3.75px);
	}	

}

@media screen and (max-width: 768px) {

	.home-hero h1 {
		font-size: 65px;
	}

	.home-hero.curveb::before {
		background-size: 17%;
		background-position: center bottom -1px;
	}

	.home-intro.curvea::after {
		transform: scale(20) translateY(2.5px);
	}	

	.home-intro {
		margin-bottom: 115px;
	}

}

@media screen and (max-width: 650px) {

	.dahlia-dowler-latest-posts-container.flex-row {
		flex-direction: column;
	}

	.dahlia-dowler-latest-posts-container.flex-row a.dahlia-dowler-latest-posts-single-post {
		width: 100% !important;
		border-radius: 0;
		text-align: center;
	}

	.dahlia-dowler-latest-posts-container a .scrim {
		justify-content: center !important;
	}

}

@media screen and (max-width: 500px) {

	.home-hero h1 {
		font-size: 50px;
	}

}

/*--------------------------------------------------------------
### FAQ
--------------------------------------------------------------*/

.faq-item.card {
	border-bottom: none;
	margin-top: 35px;
}

.faq-item p {
	margin: 0;
	background-color: #f4f4f4;
	border-radius: 0 0 15px 15px;
}

.faq-item h2 {
	margin: 0;
}

.faq-item.card:last-of-type {
	margin-bottom: 35px;
}

@media screen and (max-width: 768px) {

	.faq-item.card {
		margin-top: 17.5px;
	}

	.faq-item.card header.flex-center-center {
		justify-content: flex-start;
		text-align: left;
	}

	.faq-item p {
		text-align: left;
	}

}

/*--------------------------------------------------------------
### About
--------------------------------------------------------------*/

.about-section {
	padding-top: 100px;
	padding-bottom: 100px;
}

.about-section h2 {
	font-size: 60px;
	padding-top: 0;
	line-height: 1.2;
}

.about-section .subtitle {
	padding-bottom: 0;
}

.about-section .subtitle:first-of-type {
	padding-top: 0;
}

.about-section p {
	font-family: 'GothamRounded-Book', sans-serif;
}

#exploration {
	color: #ffffff;
}

#exploration::before {
	background-size: 52%;
	background-position: bottom center;
	transform: scale(20) translateY(-36.5%);
}

#what-is {
	background-size: auto;
	background-position: bottom right;
	background-repeat: no-repeat;
}

#what-is::before {
	display: none;
}

/*--------------------------------------------------------------
### Contact
--------------------------------------------------------------*/

.contact-methods {
	padding-top: 35px;
	padding-bottom: 35px;
}

.contact-method.padding {
	padding-bottom: 0;
}

.contact-method h2 {
	margin-top: 0;
	margin-bottom: 1em;
}

.contact-method {
	margin-right: 17.5px;
}

.contact-method:last-of-type {
	margin-right: 0;
}

.contact-method p {
	margin-top: 0;
	margin-bottom: 1.75em;
	width: 100%;
}

.contact-method a.button {
	font-size: 0.9em;
	margin-bottom: -24px;
}

.contact-form-container {
	margin-bottom: 35px;
}

.contact-form-container h2 {
	width: 100%;
}

.contact-form-container div.wpcf7 {
	width: 100%;
}

.contact-form-container div.wpcf7 input[type="submit"] {
	margin-bottom: -1.5em;
}

.contact-form-container div.wpcf7 label:not(.textarea) {
	width: 50%;
}

.textarea {
	width: 100%;
}

@media screen and (max-width: 1070px) {

	.contact-methods {
		flex-wrap: wrap;
	}

	.contact-method {
		width: calc( 50% - ( 35px / 2 ) );
		margin-right: calc( 35px / 2 );
		margin-left: 0;
		margin-bottom: 35px;
	}

	.contact-method:nth-child(2n+2) {
		margin-right: 0;
		margin-left: calc( 35px / 2 );
	}

	.contact-methods.full {
		padding-bottom: 0;
	}

	.contact-form-container {
		width: calc( 100% - 70px );
		margin-left: 35px;
		margin-right: 35px;
	}

	.bar.bar-large .full.padding {
		padding: 70px;
	}

}

@media screen and (max-width: 768px) {

	.contact-method {
		width: calc( 50% - ( 17.5px / 2 ) );
		margin-right: calc( 17.5px / 2 );
		margin-bottom: 17.5px;
	}

	.contact-method:nth-child(2n+2) {
		margin-left: calc( 17.5px / 2 );
	}

	.contact-method h2 {
		margin-bottom: 17.5px;
	}

	.contact-method p {
		margin-bottom: 17.5px;
	}

	.contact-form-container {
		width: calc( 100% - 35px );
		margin-left: 17.5px;
		margin-right: 17.5px;
		margin-bottom: 17.5px;
	}

	.bar.bar-large .full.padding {
		padding: 35px;
	}

}

@media screen and (max-width: 700px) {

	.contact-method, .contact-method:nth-child(2n+2) {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}

	.contact-form-container div.wpcf7 label:not(.textarea) {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		margin-top: 0;
	}

	label:not(.textarea):not(.long), label:nth-child(even):not(.textarea):not(.long), label.textarea, label.long {
		padding-right: 0;
		padding-left: 0;
		width: 100%;
	}

}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
ol.comment-list {
	list-style: none;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment {
	position: relative;
	padding: 50px;
}

.comment-meta {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.comment-author {
	font-size: 1.5em;
}

.says {
	opacity: .6;
}

.comment-author img {
	position: absolute;
	top: 42.5px;
	left: 0;
	transform: translateX(-33.33%);
	border-radius: 100%;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
	width: 50px;
	height: auto;
}

.comment-author a, 
.comment-metadata a {
	text-decoration: none;
	color: #2a2338;
}

.edit-link {
	margin-left: 1em;
}

.comment-metadata {
	font-size: .8em;
	opacity: .6;
}

.comment ol.children {
	margin: 50px -50px -115px -50px
}

@media screen and (max-width: 950px) {

	.comment-author img {
		width: 35px;
		top: 35px;
	}

	.comment {
		padding: 35px;
	}

	.comment ol.children {
		padding: 35px 35px 17.5px 35px;
		margin: 50px -35px -100px -35px;
	}

}

@media screen and (max-width: 768px) {

	.comment {
		padding: 17.5px;
	}

	.comment ol.children {
		padding: 17.5px;   
		margin: 35px -17.5px -35px -17.5px;
	}

}

/*--------------------------------------------------------------
### Book A Session 
--------------------------------------------------------------*/

.book-a-session, .book-a-session-calendar-timetable-container-date.book-a-session-container-tooltip .book-a-session-calendar-timetable-label-date > * {
	font-family: 'GothamRounded-Book';
}

.book-a-session-service-description p, .book-a-session-tab-content-messages .book-a-session-send-message textarea {
	border-radius: 0 0 0 15px;
}

.book-a-session-frontend.book-a-session-services .book-a-session-card.book-a-session-service .book-a-session-service-description .book-a-session-service-price, .book-a-session .book-a-session-send-message a.book-a-session-button.book-a-session-high-button.book-a-session-big-button:not(.book-a-session-tab-button):not(.book-a-session-dark-button):not(.book-a-session-low-button) {
	border-radius: 0 0 15px 0;
}

.book-a-session-frontend-modal .book-a-session-service-image, .book-a-session-service-image .book-a-session-scrim, .book-a-session-order-viewer .book-a-session-service-image {
	border-radius: 15px 15px 0 0;
}

.book-a-session-frontend-modal .book-a-session-frontend-bottom-bar, .book-a-session-frontend-modal .book-a-session-frontend-section, .book-a-session-order-viewer, .book-a-session-frontend-section-container, .book-a-session-tab-content, .book-a-session .book-a-session-message .book-a-session-message-meta, .book-a-session-service .book-a-session-service-description, .book-a-session-tab-content-messages .book-a-session-send-message {
	border-radius: 0 0 15px 15px;
}

.book-a-session-dashboard .book-a-session-content {
	border-radius: 0 15px 15px 0;
}

.book-a-session-modal .book-a-session-modal-inner.book-a-session-card-container.book-a-session-frontend-modal-container, #book-a-session-frontend-form, .book-a-session-frontend-modal, .book-a-session-modal .book-a-session-modal-inner.book-a-session-card-container.book-a-session-order-viewer-container, .book-a-session-frontend-modal .book-a-session-frontend-section, .book-a-session-order-viewer, .book-a-session-service.book-a-session-card.book-a-session-card-large, .book-a-session-modal .book-a-session-modal-inner, .book-a-session-modal-login-register .book-a-session-modal-inner-login-register {
	border-radius: 15px;
}

.book-a-session-calendar-timetable-card {
    border-top: 4px solid rgba(158, 67, 120, .2);
}

.book-a-session-card {
	border-radius: 15px;
}

.book-a-session-card, .book-a-session-frontend-tag, .book-a-session-frontend-modal .book-a-session-frontend-bottom-bar p, .book-a-session-frontend-option label .book-a-session-frontend-option-title, .book-a-session-frontend-section input[type="radio"] + label.book-a-session-card .book-a-session-frontend-option-subtitle, .book-a-session-sidebar .book-a-session-navigation li a:hover, table.book-a-session-table td, .book-a-session-calendar-timetable-label-date, .book-a-session-record-payment-container h3, .book-a-session-order-viewer h5.book-a-session-order-id, .book-a-session-order-viewer h5.book-a-session-order-date, .book-a-session-order-viewer h5.book-a-session-subtitle, .book-a-session-record-payment-container h3 {
	color: #6f6f6f;
	font-family: 'GothamRounded-Book', sans-serif;
}

.book-a-session-dashboard.book-a-session-card, .book-a-session-dark-button, a.book-a-session-dark-button {
	background-color: #3d3254;
	font-family: 'GothamRounded-Book', sans-serif;
}

.book-a-session-calendar-timetable-container-date.book-a-session-container-tooltip .book-a-session-calendar-timetable-label-date {
	font-family: 'GothamRounded-Bold';
}

.book-a-session .book-a-session-record-payment a.book-a-session-big-button.book-a-session-record-payment-button:hover {
	transform: scale(1.05);
}

.book-a-session-scrim h2 {
	font-family: 'GothamRounded-Light', sans-serif;
}

.book-a-session-frontend-modal .book-a-session-frontend-section, .book-a-session-order-viewer {
	background-color: #dedede;
}

.book-a-session-tab-button-container .book-a-session-tab-button.book-a-session-tab-button-current {
    color: rgba(158, 67, 120, 1);
    border-bottom: 3px solid rgba(158, 67, 120, 1);
}

.book-a-session a.book-a-session-circle-button:hover, a.book-a-session-circle-button:hover, .book-a-session-circle-button:hover, .book-a-session-frontend-section .book-a-session-session-time-unavailable-selected input[type="radio"] + label.book-a-session-card, .book-a-session-modal .book-a-session-icon-close:hover, .book-a-session-modal .book-a-session-icon-close:focus, .book-a-session-modal-login-register .book-a-session-icon-close:hover, .book-a-session-modal-login-register .book-a-session-icon-close:focus, .book-a-session-fixed-notice .book-a-session-icon-close:hover, .book-a-session-fixed-notice .book-a-session-icon-close:focus, .book-a-session-sidebar .book-a-session-navigation li a.book-a-session-current, .book-a-session-dark-button:hover:not(.book-a-session-hidden), a.book-a-session-dark-button:hover:not(.book-a-session-hidden), .book-a-session-calendar-timetable-date-today .book-a-session-calendar-timetable-label-date, .book-a-session-low-button:hover:not(.book-a-session-hidden), a.book-a-session-low-button:hover:not(.book-a-session-hidden), .book-a-session-calendar-timetable-container-date.book-a-session-container-tooltip .book-a-session-label-tooltip header, .book-a-session-container-tooltip .book-a-session-label-tooltip header, .book-a-session-scroll-tracker, .book-a-session-tab-content-messages .book-a-session-card.book-a-session-mini-card.book-a-session-message-user, .book-a-session-switch input:checked + .book-a-session-slider {
	background-color: rgba(158, 67, 120, 1);
	font-family: 'GothamRounded-Book', sans-serif;
}

.book-a-session-tab-button-container .book-a-session-tab-button:not(.book-a-session-tab-button-inactive):not(.book-a-session-loading):hover, .book-a-session-tab-button-container .book-a-session-tab-button:not(.book-a-session-tab-button-inactive):not(.book-a-session-loading):active, .book-a-session-tab-button-container .book-a-session-tab-button:not(.book-a-session-tab-button-inactive):not(.book-a-session-loading):focus, .book-a-session-calendar-timetable-container-date.book-a-session-container-tooltip .book-a-session-calendar-timetable-label-date, .book-a-session-tab-button.book-a-session-loading .book-a-session-loader.book-a-session-inline-loader {
	color: rgba(158, 67, 120, 1) !important;
}

.checkmark {
	box-shadow: inset 0px 0px 0px rgba(158, 67, 120, 1);
}

.checkmark .checkmark__circle {
	stroke: rgba(158, 67, 120, 1);
}

@keyframes fill {

    100% {
      box-shadow: inset 0px 0px 0px 30px rgba(158, 67, 120, 1);
	}
	
}

.book-a-session input[type="submit"], .book-a-session-high-button, .book-a-session a.book-a-session-high-button, .book-a-session-low-button, a.book-a-session-low-button, .book-a-session .book-a-session-table td a.book-a-session-mini-button, .book-a-session-dashboard .book-a-session-dark-button, .book-a-session-dashboard .book-a-session-low-button {
	border-radius: 4em;
}

.book-a-session-switch-field label {
	width: auto !important;
	padding-left: 0 !important;
}

.book-a-session-switch-field label.book-a-session-switch {
	width: 60px !important;
}

.book-a-session-tab-button-inactive.book-a-session-loading {
    color: transparent !important;
}

.book-a-session-tab-button-container .book-a-session-tab-button.book-a-session-loading {
	color: transparent !important;
}

.book-a-session-sidebar .book-a-session-navigation li a:hover {
	background-color: #f4f4f4;
}

.book-a-session-tab-button-container.book-a-session-session-tabs .book-a-session-tab-button.book-a-session-tab-button-current {
	border-bottom: none;
    border-top: 3px solid rgba(158, 67, 120, 1);
}

.book-a-session-frontend .book-a-session-service .book-a-session-service-image .book-a-session-scrim h2 {
	font-family: 'GothamRounded-Light', sans-serif;
}

.book-a-session-frontend-section input[type="radio"]:checked + label.book-a-session-card {
	background-color: rgba(158, 67, 120, 1);
}

.book-a-session-frontend-tag {
	background-color: rgb(255, 198, 45);
	font-size: 1em;
	border-radius: 15px;
	font-family: 'GothamRounded-Medium';
}

.book-a-session-frontend-section input[type="radio"] + label.book-a-session-card .book-a-session-frontend-option-subtitle {
	background-color: rgba(20, 0, 53, 0.045);
}

.book-a-session-progress-tab-container.book-a-session-tab-button-container .book-a-session-tab-button.book-a-session-tab-button-inactive {
	color: rgba(20, 0, 53, 0.45);
}

.book-a-session-record-payment input[type="number"], .book-a-session input[type="text"], .book-a-session-dashboard input[type="text"], .book-a-session-dashboard input[type="email"], .book-a-session-dashboard input[type="url"], .book-a-session-dashboard input[type="password"], .book-a-session-dashboard input[type="search"], .book-a-session-dashboard input[type="number"], .book-a-session-dashboard input[type="tel"], .book-a-session-dashboard input[type="range"], .book-a-session-dashboard input[type="date"], .book-a-session-dashboard input[type="month"], .book-a-session-dashboard input[type="week"], .book-a-session-dashboard input[type="time"], .book-a-session-dashboard input[type="datetime"], .book-a-session-dashboard input[type="datetime-local"], .book-a-session-dashboard input[type="color"], .book-a-session-dashboard textarea, .book-a-session-dashboard select, .book-a-session-frontend input[type="text"], .book-a-session-frontend input[type="email"], .book-a-session-frontend input[type="url"], .book-a-session-frontend input[type="password"], .book-a-session-frontend input[type="search"], .book-a-session-frontend input[type="number"], .book-a-session-frontend input[type="tel"], .book-a-session-frontend input[type="range"], .book-a-session-frontend input[type="date"], .book-a-session-frontend input[type="month"], .book-a-session-frontend input[type="week"], .book-a-session-frontend input[type="time"], .book-a-session-frontend input[type="datetime"], .book-a-session-frontend input[type="datetime-local"], .book-a-session-frontend input[type="color"], .book-a-session-frontend textarea, .book-a-session-frontend select, .book-a-session-modal input[type="text"], .book-a-session-modal input[type="email"], .book-a-session-modal input[type="url"], .book-a-session-modal input[type="password"], .book-a-session-modal input[type="search"], .book-a-session-modal input[type="number"], .book-a-session-modal input[type="tel"], .book-a-session-modal input[type="range"], .book-a-session-modal input[type="date"], .book-a-session-modal input[type="month"], .book-a-session-modal input[type="week"], .book-a-session-modal input[type="time"], .book-a-session-modal input[type="datetime"], .book-a-session-modal input[type="datetime-local"], .book-a-session-modal input[type="color"], .book-a-session-modal textarea, .book-a-session-modal select, .book-a-session-modal-login-register input[type="text"], .book-a-session-modal-login-register input[type="email"], .book-a-session-modal-login-register input[type="url"], .book-a-session-modal-login-register input[type="password"], .book-a-session-modal-login-register input[type="search"], .book-a-session-modal-login-register input[type="number"], .book-a-session-modal-login-register input[type="tel"], .book-a-session-modal-login-register input[type="range"], .book-a-session-modal-login-register input[type="date"], .book-a-session-modal-login-register input[type="month"], .book-a-session-modal-login-register input[type="week"], .book-a-session-modal-login-register input[type="time"], .book-a-session-modal-login-register input[type="datetime"], .book-a-session-modal-login-register input[type="datetime-local"], .book-a-session-modal-login-register input[type="color"], .book-a-session-modal-login-register textarea, .book-a-session-modal-login-register select, .book-a-session-login-register input[type="text"], .book-a-session-login-register input[type="email"], .book-a-session-login-register input[type="url"], .book-a-session-login-register input[type="password"], .book-a-session-login-register input[type="search"], .book-a-session-login-register input[type="number"], .book-a-session-login-register input[type="tel"], .book-a-session-login-register input[type="range"], .book-a-session-login-register input[type="date"], .book-a-session-login-register input[type="month"], .book-a-session-login-register input[type="week"], .book-a-session-login-register input[type="time"], .book-a-session-login-register input[type="datetime"], .book-a-session-login-register input[type="datetime-local"], .book-a-session-login-register input[type="color"], .book-a-session-login-register textarea, .book-a-session-login-register select, .book-a-session-login input[type="text"], .book-a-session-login input[type="email"], .book-a-session-login input[type="url"], .book-a-session-login input[type="password"], .book-a-session-login input[type="search"], .book-a-session-login input[type="number"], .book-a-session-login input[type="tel"], .book-a-session-login input[type="range"], .book-a-session-login input[type="date"], .book-a-session-login input[type="month"], .book-a-session-login input[type="week"], .book-a-session-login input[type="time"], .book-a-session-login input[type="datetime"], .book-a-session-login input[type="datetime-local"], .book-a-session-login input[type="color"], .book-a-session-login textarea, .book-a-session-login select, .book-a-session-register input[type="text"], .book-a-session-register input[type="email"], .book-a-session-register input[type="url"], .book-a-session-register input[type="password"], .book-a-session-register input[type="search"], .book-a-session-register input[type="number"], .book-a-session-register input[type="tel"], .book-a-session-register input[type="range"], .book-a-session-register input[type="date"], .book-a-session-register input[type="month"], .book-a-session-register input[type="week"], .book-a-session-register input[type="time"], .book-a-session-register input[type="datetime"], .book-a-session-register input[type="datetime-local"], .book-a-session-register input[type="color"], .book-a-session-register textarea, .book-a-session-register select, .book-a-session-forgot-password input[type="text"], .book-a-session-forgot-password input[type="email"], .book-a-session-forgot-password input[type="url"], .book-a-session-forgot-password input[type="password"], .book-a-session-forgot-password input[type="search"], .book-a-session-forgot-password input[type="number"], .book-a-session-forgot-password input[type="tel"], .book-a-session-forgot-password input[type="range"], .book-a-session-forgot-password input[type="date"], .book-a-session-forgot-password input[type="month"], .book-a-session-forgot-password input[type="week"], .book-a-session-forgot-password input[type="time"], .book-a-session-forgot-password input[type="datetime"], .book-a-session-forgot-password input[type="datetime-local"], .book-a-session-forgot-password input[type="color"], .book-a-session-forgot-password textarea, .book-a-session-forgot-password select, .book-a-session-services input[type="text"], .book-a-session-services input[type="email"], .book-a-session-services input[type="url"], .book-a-session-services input[type="password"], .book-a-session-services input[type="search"], .book-a-session-services input[type="number"], .book-a-session-services input[type="tel"], .book-a-session-services input[type="range"], .book-a-session-services input[type="date"], .book-a-session-services input[type="month"], .book-a-session-services input[type="week"], .book-a-session-services input[type="time"], .book-a-session-services input[type="datetime"], .book-a-session-services input[type="datetime-local"], .book-a-session-services input[type="color"], .book-a-session-services textarea, .book-a-session-services select {
	background-color: transparent;
	border: none;
	border-bottom: 3px solid #eaeaea;
	padding: 0.5em 0;
	font-family: 'GothamRounded-Book', sans-serif;
	font-size: 1.2em;
	width: 100%;
}

.book-a-session-record-payment input[type="number"]:focus, .book-a-session-record-payment input[type="number"]:hover, .book-a-session-dashboard input[type="text"]:focus, .book-a-session-dashboard input[type="email"]:focus, .book-a-session-dashboard input[type="url"]:focus, .book-a-session-dashboard input[type="password"]:focus, .book-a-session-dashboard input[type="search"]:focus, .book-a-session-dashboard input[type="number"]:focus, .book-a-session-dashboard input[type="tel"]:focus, .book-a-session-dashboard input[type="range"]:focus, .book-a-session-dashboard input[type="date"]:focus, .book-a-session-dashboard input[type="month"]:focus, .book-a-session-dashboard input[type="week"]:focus, .book-a-session-dashboard input[type="time"]:focus, .book-a-session-dashboard input[type="datetime"]:focus, .book-a-session-dashboard input[type="datetime-local"]:focus, .book-a-session-dashboard input[type="color"]:focus, .book-a-session-dashboard textarea:focus, .book-a-session-dashboard select:focus, .book-a-session-frontend input[type="text"]:focus, .book-a-session-frontend input[type="email"]:focus, .book-a-session-frontend input[type="url"]:focus, .book-a-session-frontend input[type="password"]:focus, .book-a-session-frontend input[type="search"]:focus, .book-a-session-frontend input[type="number"]:focus, .book-a-session-frontend input[type="tel"]:focus, .book-a-session-frontend input[type="range"]:focus, .book-a-session-frontend input[type="date"]:focus, .book-a-session-frontend input[type="month"]:focus, .book-a-session-frontend input[type="week"]:focus, .book-a-session-frontend input[type="time"]:focus, .book-a-session-frontend input[type="datetime"]:focus, .book-a-session-frontend input[type="datetime-local"]:focus, .book-a-session-frontend input[type="color"]:focus, .book-a-session-frontend textarea:focus, .book-a-session-frontend select:focus, .book-a-session-modal input[type="text"]:focus, .book-a-session-modal input[type="email"]:focus, .book-a-session-modal input[type="url"]:focus, .book-a-session-modal input[type="password"]:focus, .book-a-session-modal input[type="search"]:focus, .book-a-session-modal input[type="number"]:focus, .book-a-session-modal input[type="tel"]:focus, .book-a-session-modal input[type="range"]:focus, .book-a-session-modal input[type="date"]:focus, .book-a-session-modal input[type="month"]:focus, .book-a-session-modal input[type="week"]:focus, .book-a-session-modal input[type="time"]:focus, .book-a-session-modal input[type="datetime"]:focus, .book-a-session-modal input[type="datetime-local"]:focus, .book-a-session-modal input[type="color"]:focus, .book-a-session-modal textarea:focus, .book-a-session-modal select:focus, .book-a-session-modal-login-register input[type="text"]:focus, .book-a-session-modal-login-register input[type="email"]:focus, .book-a-session-modal-login-register input[type="url"]:focus, .book-a-session-modal-login-register input[type="password"]:focus, .book-a-session-modal-login-register input[type="search"]:focus, .book-a-session-modal-login-register input[type="number"]:focus, .book-a-session-modal-login-register input[type="tel"]:focus, .book-a-session-modal-login-register input[type="range"]:focus, .book-a-session-modal-login-register input[type="date"]:focus, .book-a-session-modal-login-register input[type="month"]:focus, .book-a-session-modal-login-register input[type="week"]:focus, .book-a-session-modal-login-register input[type="time"]:focus, .book-a-session-modal-login-register input[type="datetime"]:focus, .book-a-session-modal-login-register input[type="datetime-local"]:focus, .book-a-session-modal-login-register input[type="color"]:focus, .book-a-session-modal-login-register textarea:focus, .book-a-session-modal-login-register select:focus, .book-a-session-login-register input[type="text"]:focus, .book-a-session-login-register input[type="email"]:focus, .book-a-session-login-register input[type="url"]:focus, .book-a-session-login-register input[type="password"]:focus, .book-a-session-login-register input[type="search"]:focus, .book-a-session-login-register input[type="number"]:focus, .book-a-session-login-register input[type="tel"]:focus, .book-a-session-login-register input[type="range"]:focus, .book-a-session-login-register input[type="date"]:focus, .book-a-session-login-register input[type="month"]:focus, .book-a-session-login-register input[type="week"]:focus, .book-a-session-login-register input[type="time"]:focus, .book-a-session-login-register input[type="datetime"]:focus, .book-a-session-login-register input[type="datetime-local"]:focus, .book-a-session-login-register input[type="color"]:focus, .book-a-session-login-register textarea:focus, .book-a-session-login select:focus, .book-a-session-login input[type="text"]:focus, .book-a-session-login input[type="email"]:focus, .book-a-session-login input[type="url"]:focus, .book-a-session-login input[type="password"]:focus, .book-a-session-login input[type="search"]:focus, .book-a-session-login input[type="number"]:focus, .book-a-session-login input[type="tel"]:focus, .book-a-session-login input[type="range"]:focus, .book-a-session-login input[type="date"]:focus, .book-a-session-login input[type="month"]:focus, .book-a-session-login input[type="week"]:focus, .book-a-session-login input[type="time"]:focus, .book-a-session-login input[type="datetime"]:focus, .book-a-session-login input[type="datetime-local"]:focus, .book-a-session-login input[type="color"]:focus, .book-a-session-login textarea:focus, .book-a-session-login select:focus, .book-a-session-register input[type="text"]:focus, .book-a-session-register input[type="email"]:focus, .book-a-session-register input[type="url"]:focus, .book-a-session-register input[type="password"]:focus, .book-a-session-register input[type="search"]:focus, .book-a-session-register input[type="number"]:focus, .book-a-session-register input[type="tel"]:focus, .book-a-session-register input[type="range"]:focus, .book-a-session-register input[type="date"]:focus, .book-a-session-register input[type="month"]:focus, .book-a-session-register input[type="week"]:focus, .book-a-session-register input[type="time"]:focus, .book-a-session-register input[type="datetime"]:focus, .book-a-session-register input[type="datetime-local"]:focus, .book-a-session-register input[type="color"]:focus, .book-a-session-register textarea:focus, .book-a-session-register select:focus, .book-a-session-forgot-password input[type="text"]:focus, .book-a-session-forgot-password input[type="email"]:focus, .book-a-session-forgot-password input[type="url"]:focus, .book-a-session-forgot-password input[type="password"]:focus, .book-a-session-forgot-password input[type="search"]:focus, .book-a-session-forgot-password input[type="number"]:focus, .book-a-session-forgot-password input[type="tel"]:focus, .book-a-session-forgot-password input[type="range"]:focus, .book-a-session-forgot-password input[type="date"]:focus, .book-a-session-forgot-password input[type="month"]:focus, .book-a-session-forgot-password input[type="week"]:focus, .book-a-session-forgot-password input[type="time"]:focus, .book-a-session-forgot-password input[type="datetime"]:focus, .book-a-session-forgot-password input[type="datetime-local"]:focus, .book-a-session-forgot-password input[type="color"]:focus, .book-a-session-forgot-password textarea:focus, .book-a-session-forgot-password select:focus, .book-a-session-services input[type="text"]:focus, .book-a-session-services input[type="email"]:focus, .book-a-session-services input[type="url"]:focus, .book-a-session-services input[type="password"]:focus, .book-a-session-services input[type="search"]:focus, .book-a-session-services input[type="number"]:focus, .book-a-session-services input[type="tel"]:focus, .book-a-session-services input[type="range"]:focus, .book-a-session-services input[type="date"]:focus, .book-a-session-services input[type="month"]:focus, .book-a-session-services input[type="week"]:focus, .book-a-session-services input[type="time"]:focus, .book-a-session-services input[type="datetime"]:focus, .book-a-session-services input[type="datetime-local"]:focus, .book-a-session-services input[type="color"]:focus, .book-a-session-services textarea:focus, .book-a-session-services select:focus {
	color: #111;
	outline: none;
	background-color: transparent;
	box-shadow: none;
	border-bottom: 3px solid #bfbfbf;
}

.book-a-session-tab-content-sessions .book-a-session-table thead, .book-a-session-tab-content-sessions .book-a-session-table tbody, .book-a-session-tab-content-sessions .book-a-session-table tr {
	width: 100%;
	display: table;
}

.book-a-session-form-fields {
	padding-bottom: 0;
}

.book-a-session-frontend-modal .book-a-session-container-tooltip .book-a-session-label-tooltip header {
	background-color: #e6e6e6;
	color: #614c63;
}

.book-a-session-payment-button-container .book-a-session-icon, #stripe-button-container .book-a-session-icon {
	border-radius: 0 4em 4em 0;
}

/* Larger frotend buy buttons
.book-a-session-frontend .book-a-session-card.book-a-session-service a.book-a-session-circle-button {
	width: 65px;
	height: 65px;
	line-height: 65px;
	margin-top: -40px;
	font-size: 1.5em;
}
*/

.book-a-session-record-payment input[type="number"] {
	width: 50%;
	padding-left: 17.5px;
	padding-right: 17.5px;
	background-color: #ffffff;
	border-radius: 15px 0 0 15px;
}

@media screen and (min-width: 900px) {

	.book-a-session-card.book-a-session-card-large, .book-a-session .book-a-session-frontend, .book-a-session-dashboard.book-a-session-card {
		margin: 40px auto 17.5px auto;
	}

}

.book-a-session-service.book-a-session-card.book-a-session-card-large {
	margin-bottom: 0;
    margin-top: 35px;
}

.book-a-session-service.book-a-session-card.book-a-session-card-large:last-of-type {
	margin-bottom: 35px;
}

.book-a-session-frontend.book-a-session-services {
	margin-top: 0;
}

/* Experimenting with Angular / Material style animated placeholders, would need javascript without changing the book a session HTML, though the HTML would be as easy as putting the input before the label and reversing the order, then using the + selector to transform the label when the input is active or focused
.book-a-session-form-fields label {
	transform-origin: top left;
	transform: scale(1.2) translate( 0px, 32px );
	padding: 0;
	margin: 0;
	display: inline-block;
}

.book-a-session-form-fields label + input:focus {

}

*/

.book-a-session-card.book-a-session-card-large {
	margin-bottom: 35px;
}

.book-a-session-frontend .book-a-session-card.book-a-session-service a.book-a-session-circle-button.book-a-session-button:not(.book-a-session-tab-button):not(.book-a-session-dark-button):not(.book-a-session-low-button) {
	background: #e4e4e4 !important;
    color: #444444 !important;
}

.book-a-session-frontend .book-a-session-card.book-a-session-service a.book-a-session-circle-button.book-a-session-button:not(.book-a-session-tab-button):not(.book-a-session-dark-button):not(.book-a-session-low-button):hover {
	background-color: rgba(251,176,59,1) !important;
	color: #4e4e4e !important;
	background-color: rgba(158, 67, 120, 1) !important;
	color: #ffffff !important;
}

.book-a-session-modal-login-register .book-a-session-flex-row, .book-a-session-login-register .book-a-session-flex-row {
	margin-bottom: -60px;
}

a.book-a-session-low-button {
	color: rgba(0,0,0,.75) !important;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25) !important;
	transform: scale(1) !important;
}

a.book-a-session-low-button:hover {
	box-shadow: 0px 3px 10px rgba(0, 0, 0, .4) !important;
	transform: scale(1.15) !important;
	background-color: #1f172d !important;
	color: #ffffff !important;
}

.book-a-session-button-container .book-a-session-button:last-of-type {
	margin-left: 10px;
}

.book-a-session-card.book-a-session-card-large {
	padding-bottom: 0;
}

.book-a-session-card.book-a-session-card-large .book-a-session-form-fields fieldset:last-of-type {
	margin-bottom: 0;
}

.book-a-session-card.book-a-session-card-large .book-a-session-button-row {
	transform: translateY(50%);
}

.book-a-session-modal .book-a-session-icon-close, .book-a-session-modal-login-register .book-a-session-icon-close, .book-a-session-fixed-notice .book-a-session-icon-close {
	background-color: #1f172d;
}

.book-a-session input[name="vfc_mobile"]#vfc_mobile {
	background-color: transparent;
	border-radius: 5px;
    background-color: #ffffff;
    padding-left: 1em;
    font-size: 1em;
}

.book-a-session a.book-a-session-button:not(.book-a-session-dark-button):not(.book-a-session-low-button).book-a-session-loading { 
    color: transparent !important;
}

.book-a-session .book-a-session-record-payment a.book-a-session-big-button.book-a-session-record-payment-button, .book-a-session .book-a-session-record-payment a.book-a-session-big-button.book-a-session-record-payment-button .book-a-session-icon {
	border-radius: 0 15px 15px 0;
}

.book-a-session .book-a-session-record-payment a.book-a-session-big-button.book-a-session-record-payment-button:hover {
	border-radius: 15px;
}

.site-content .book-a-session-sidebar .book-a-session-navigation li a:not(.button):not(.scrim) {
	width: 100%;
	color: #ffffff;
	display: block;
}

.site-content .book-a-session-sidebar .book-a-session-navigation li a:not(.button):not(.scrim):hover {
	width: 100%;
	color: #6f6f6f;
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.menu-mobile-menu-container {
	display: none;
}

@media screen and (max-width: 1350px) {

	#what-is {
		background-size: 25%;
	}

}

@media screen and (max-width: 1070px) {

	.full:not(.padding):not(.dahlia-dowler-latest-posts-container),
	.faq-item,
	/*.book-a-session-service.book-a-session-card.book-a-session-card-large,*/
	.book-a-session .book-a-session-frontend,
	.book-a-session-dashboard.book-a-session-card {
		margin-left: 35px;
		margin-right: 35px;
		width: calc( 100% - 70px )
	}

}

@media screen and (max-width: 768px) {

	.full:not(.padding):not(.dahlia-dowler-latest-posts-container),
	.faq-item,
	/*.book-a-session-service.book-a-session-card.book-a-session-card-large,*/
	.book-a-session .book-a-session-frontend,
	.book-a-session-dashboard.book-a-session-card {
		margin-left: 17.5px;
		margin-right: 17.5px;
		width: calc( 100% - 35px )
	}

	.padding,
	.book-a-session-service-description p {
		padding: 17.5px;
	}
	
	.book-a-session-scrim {
		padding: 17.5px;
	}

	.book-a-session-service.book-a-session-card.book-a-session-card-large {
		margin-top: 17.5px;
	}

	.about-section h2 {
		font-size: 45px;
	}

	#what-is h2 {
		padding-top: 70px;
	}

	.book-a-session-dashboard.book-a-session-card {
		flex-wrap: wrap;
	}

	.book-a-session-dashboard .book-a-session-sidebar {
		overflow-x: scroll;
		border-radius: 15px 15px 0 0;
		position: sticky;
		top: 75px;
		z-index: 9;
	}

	.book-a-session-sidebar .book-a-session-navigation ul {
		flex-wrap: nowrap;
	}

	.book-a-session-sidebar .book-a-session-navigation li {
		width: auto;
	}

	.book-a-session-sidebar .book-a-session-navigation li a {
		padding: 17.5px;
		border-bottom: none;
		height: auto;
		align-self: stretch;
		display: flex !important;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
		background-color: #3d3254;
		z-index: 99;
	}

	a[data-content="book-a-session-dashboard-upcoming-sessions"] {
		min-width: 190px;
	}

	a[data-content="book-a-session-dashboard-session-history"] {
		min-width: 160px;
	}

	a[data-content="book-a-session-dashboard-private-locations"] {
		min-width: 175px;
	}

	a[data-content="book-a-session-dashboard-logout"] {
		min-width: 110px;
	}

}

/* Small menu. */

@media screen and (max-width: 950px ) {

	html {
		padding-top: 75px !important;
	}

	html, body {
		overflow-x: hidden;
		width: 100%;
		max-width: 950px;
	}

	.title h1 {
		margin-top: 35px;
	}

	.title.curveb::before {
		transform: scale(20) translateY(-50.25%);
	}

	.main-navigation.curveb::before {
		display: none;
	}

	.main-navigation .logo {
		display: none;
	}

	#mobile-menu-container {
		width: 100%;
		height: 75px;
		background-color: #ffffff;
		box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 17.5px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
	}

	#mobile-menu-container .logo-link {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	#mobile-menu-container.open {
		height: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
		justify-items: auto;
		align-items: flex-start;
		padding-top: 15px;
	}

	.open .menu-mobile-menu-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-top: 17.5px;
	}

	#mobile-menu-container.open .menu-mobile-menu-container {
		order: 3;
		width: 100%;
	}

	.admin-bar #mobile-menu-container {
		top: 32px; /* Admin menu bar height */
	}

	#mobile-menu-container img {
		height: 45px;
		width: auto;
	}

	#menu-mobile-menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#menu-item-620 a {
		min-width: 170px;
	}

	#menu-mobile-menu a {

		font-size: 0.9em;

	}
/*
	#mobile-menu-container.open {
		display: block;
		position: fixed;
		top: 75px;
		width: 100%;
		height: calc( 100% - 75px );
		background-color: #eaeaea;
		flex-direction: column;
		justify-content: center;
		z-index: 99;
	}

*/
	/* Hamburger */


	.hamburger {
		padding: 0;
		padding-top: 5px;
		display: inline-block;
		cursor: pointer;
		transition-property: opacity, filter;
		transition-duration: 0.15s;
		transition-timing-function: linear;
		font: inherit;
		color: inherit;
		text-transform: none;
		background-color: transparent;
		border: 0;
		margin: 0;
		overflow: visible;
		outline: none;
		height: 100%;
		width: 45px;
		height: 45px;
		border-radius: 0;
		box-shadow: none;
		transition: all .2s ease-in-out;
		margin-left: 10px;
		margin-right: 0;
	}

	.hamburger:hover, .hamburger:active, .hamburger:focus {
		opacity: 0.7;
		box-shadow: none;
	}

	.hamburger-box {
		width: 25px;
		height: 25px;
		display: inline-block;
		position: relative;
	}

	.hamburger-inner {
		display: block;
		top: 50%;
		margin-top: -2px;
	}

	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		width: 25px;
		height: 4px;
		background-color: #353c42;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
	}

	.hamburger-inner::before, .hamburger-inner::after {
		content: "";
		display: block;
	}

	.hamburger-inner::before {
		top: -10px;
	}

	.hamburger-inner::after {
		bottom: -10px;
	}

	.hamburger--spring .hamburger-inner {
		top: 2px;
		transition: background-color 0s 0.13s linear;
	}

	.hamburger--spring .hamburger-inner::before {
		top: 9px;
		transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	.hamburger--spring .hamburger-inner::after {
		top: 18px;
		transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	.hamburger--spring.is-active .hamburger-inner {
  		transition-delay: 0.22s;
  		background-color: transparent;
	}

  	.hamburger--spring.is-active .hamburger-inner::before {
		top: 0;
		transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 10px, 0) rotate(45deg);
	}

  	.hamburger--spring.is-active .hamburger-inner::after {	
		top: 0;
		transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 10px, 0) rotate(-45deg);
	}

}

@media screen and (max-width: 782px) {

	.admin-bar #mobile-menu-container {
		top: 46px; /* Mobile admin menu bar height */
	}

}

@media screen and (max-width: 768px) {

	.bar .full.padding {
		padding: 17.5px;
	}

	.card, .comment, #respond, .book-a-session-login-register.book-a-session-card, .book-a-session-card.book-a-session-card-large, .book-a-session-modal-login-register .book-a-session-modal-inner-login-register {
		border-bottom: 45px solid #f1f1f1;
	}

}

@media screen and (max-width: 600px) {

	html {
		padding-top: 0 !important;
	}

	#masthead {
		position: -webkit-sticky;
		position: -moz-sticky;
		position: -ms-sticky;
		position: -o-sticky;
		position: sticky;
		top: 0; /* Admin menu is no longer fixed at this width */
		z-index: 10;
	}

	.admin-bar #mobile-menu-container {
		top: auto; /* Admin menu is no longer fixed at this width */
		position: relative;
	}

	.main-navigation.curveb::before {
		display: none;
	}

}

@media screen and (max-width: 500px) {

	.menu-mobile-menu-container {
		display: none;
	}

	.about-section h2 {
		font-size: 40px;
	}

	.bar .full.padding {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.bar p {
		margin-bottom: 17.5px;
	}
	
	.bar .edit-link {
		margin-left: 0;
	}

}

@media screen and (max-width: 400px) {

	#mobile-menu-container img {
		height: 35px;
	}

}
